<div class="card" *ngIf="user">
    <p-button label="Admin Page" *ngIf="user.role == 'Admin'" [routerLink]="['/admin']" />
    <div>Balance: ${{ user.balance }}</div>
    <p-button label="Make a payment" [routerLink]="['/payment']" />

    <p-table [value]="payments">
        <ng-template pTemplate="header">
            <tr>
                <th>Amount</th>
                <th>Date</th>
                <th>Status</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-payment>
            <tr>
                <td>{{ payment.amount }}</td>
                <td>{{ payment.date }}</td>
                <td>{{ payment.valid ? 'Valid' : 'Pending' }}</td>
            </tr>
        </ng-template>
    </p-table>

    <ng-container *ngFor="let period of periods">
        <h3>{{ period.name }}</h3>
        <ng-container [ngSwitch]="period.status">
            <div *ngSwitchCase="'active'">Status: Active</div>
            <div *ngSwitchCase="'available'">
                <div>Status: Available to subscribe</div>
                <div>Minimum Payment Due: ${{ period.nextUserCost }}</div>
                <p-button label="Purchase" (onClick)="period.purchaseConfirm = true" [disabled]="!period.purchasable" />
            </div>
        </ng-container>
    </ng-container>
</div>
<ng-container *ngFor="let period of periods">
    <app-dialog *ngIf="period.purchaseConfirm"
        message="Are you sure you want to subscribe?"
        (confirm)="addInvoice(period)"
        (cancel)="period.purchaseConfirm = false" />
</ng-container>