<form class="card" [formGroup]="paymentForm" (ngSubmit)="onSubmit()">
    <div>
        <label for="amount">Payment amount</label>
        <p-inputNumber 
            inputId="integeronly" 
            class="text-input"
            id="amount"
            formControlName="amount"
            required /> 
        <div *ngIf="amount?.invalid && amount?.touched" class="error">
            Amount is required.
        </div>
    </div>

    <div>
        <p-selectButton 
            [options]="paymentTypes" 
            id="type"
            formControlName="type"
            required />
    </div>

    <p-button label="Submit" type="submit" [disabled]="!paymentForm.valid" />
</form>

<app-dialog *ngIf="paymentSuccess" message="Payment successful!" [cancelable]="false" (confirm)="router.navigate(['/'])"></app-dialog>