<form class="card" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div>
        <label for="startDate">Start Date</label>
        <p-calendar formControlName="startDate" />
    </div>
    <div>
        <label for="endDate">End Date</label>
        <p-calendar formControlName="endDate" />
        <div *ngIf="endDate?.errors?.['dateLessThan'] && endDate?.touched" class="error">
            End Date must be after Start Date.
        </div>
    </div>
    <div>
        <label for="amount">Server Cost</label>
        <p-inputNumber 
            inputId="integeronly" 
            class="text-input"
            id="amount"
            formControlName="amount"
            required /> 
        <div *ngIf="amount?.invalid && amount?.touched" class="error">
            Amount is required.
        </div>
    </div>
    <p-button type="submit" label="Create Subscription" [disabled]="form.invalid"/>
</form>

<app-dialog *ngIf="success" message="Successfully added subscription!" [cancelable]="false" (confirm)="router.navigate(['/admin'])"></app-dialog>