<form class="card" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="name">Full Name</label>
      <input
        class="text-input"
        id="name"
        formControlName="name"
        type="text"
        pInputText
        placeholder="Enter your full name"
        required
      />
      <div *ngIf="name?.invalid && name?.touched" class="error">
        Full name is required.
      </div>
    </div>

    <div>
      <label for="email">Email</label>
      <input
        class="text-input"
        id="email"
        formControlName="email"
        type="text"
        pInputText
        placeholder="Enter your email"
        required
      />
      <div *ngIf="email?.invalid && email?.touched" class="error">
        Email is required.
      </div>
    </div>

    <div>
      <label for="playertag">Minecraft Playertag</label>
      <input
        class="text-input"
        id="playertag"
        formControlName="playertag"
        type="text"
        pInputText
        placeholder="Enter your playertag"
        required
      />
      <div *ngIf="playertag?.invalid && playertag?.touched" class="error">
        Playertag is required.
      </div>
    </div>
  
    <div>
      <label for="password">Password</label>
      <p-password
        class="text-input"
        id="password"
        formControlName="password"
        placeholder="Enter your password"
        required
        [toggleMask]="true"
        [feedback]="false"
      />
      <div *ngIf="password?.invalid && password?.touched" class="error">
        Password is required.
      </div>
    </div>

    <div>
        <label for="confirmPassword">Re-enter Password</label>
        <p-password
            class="text-input"
            id="confirmPassword"
            formControlName="confirmPassword"
            placeholder="Re-enter your password"
            required
            [toggleMask]="true"
            [feedback]="false"
        />
        <div *ngIf="confirmPassword?.invalid && confirmPassword?.touched" class="error">
            Passwords do not match.
        </div>
    </div>

    <div *ngIf="emailExists" class="error">The email already exists. Please choose a new one.</div>
    <div *ngIf="registerFailed" class="error">There was an error in registering. Please try again.</div>
    <p-button type="submit" label="Register" [disabled]="registerForm.invalid"/>
  </form>